@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300&display=swap');

body {
    background-color: rgb(230, 201, 166);
    font-family: 'Roboto Serif', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

* {
    box-sizing: border-box;
}
